.htname{
    color: rgb(255, 144, 144);
    text-align: left;
    font-family: "Brush Script MT", cursive;
}

.blno{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: black;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}